body {
	margin: 0;
}
figure{
	display: inline-block;
}
figure.headImage {
	
}
.content{
	margin: 15px
}
.article_description{
	display: inline-block;
	position: absolute;
	color: white;
}

.description{
	display: block;
}

@media screen and (max-width: 640px) {

	

}

.headImage {
    width: 150px;
}

.description{
	background-size: 100%;
	background-image: url("./img/movies/La_Forme_de_l_eau/photos/1.jpg");
	background-repeat:no-repeat;
	background-position:center center;
}
